.menuItem {
  @apply hover:text-veryDarkBlue hover:cursor-pointer relative;
  transition-property: color;
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in;
}

.menuItem::after {
  transition-property: background-color;
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in;
  content: " ";
  position: absolute;
  top: 59px;
  right: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
}

.menuItem:hover::after {
  background-color: var(--orange);
}
